.testTest{
  font-size: 2em !important;
  color: #886aea !important;
  font-style: italic;
}

.iconColor{
  color: #de4300 !important;
}

.gradientGray{
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-170deg, #f1f1f1, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-170deg, #f1f1f1, white);      /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-170deg, #f1f1f1, white);    /* For Firefox 3.6 to 15 */
  background: linear-gradient(-170deg, #f1f1f1 , white);     /* Standard syntax */
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  opacity: 1 !important;
  color: red !important;
}

.testBorder{
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login img{

  min-width:1%    !important;
  min-height:100% !important;

  max-width:100%  !important;
  max-height:100% !important;

  opacity: 0.4    !important;
}
