/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
/* de4300 */

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #499ab9 !default;
$calm:                            #FFFFFF !default;
$balanced:                        #50baa2 !default;
$energized:                       #fdc541 !default;
$assertive:                       #e84e0e !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";


