<ion-view view-title='' hide-nav-bar="true">
  <ion-content>

    <!-- <div class="bar bar-header bar-positive">
        <button class="button icon ion-navicon"></button>
        <h1 class="title">Header Buttons</h1>
        <button class="button icon ion-home"></button>
    </div> -->

    <!-- content goes here -->
    <ion-list>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <img src="main/assets/images/yo@2x.png">
        <h2>Angelica Stenholm</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <!--
      <ion-item class="item-divider">
        Eyooo
      </ion-item>
      -->

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetailTwo">
        <img src="main/assets/images/suit.png">
        <h2>Charles Järnström</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <!-- JUNK DATA -->

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian A</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian B</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian C</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian D</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian E</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian F</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian G</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.userPlebian">
        <img src="main/assets/images/suit.png">
        <h2>Plebian H</h2>
        <p>Company / Location</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
