<ion-view view-title="Mr. Yo">
  <!-- do you want padding -->
  <ion-content class="padding">

    <!-- content goes here
    <div>
      <img ng-src="main/assets/images/suit.png" style="width: 64px; height: 64px">
      <h1>Plebian</h1>
      <p>Works on the fields.</p>
    </div> -->

    <div class="card">
      <div class="item item-avatar">
        <img src="main/assets/images/suit.png">
        <h2>Pleb McPlebian</h2>
        <p>Company / Location</p>
      </div>

      <div class="item item-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
      </div>

      <div class="item item-body">
        Gamification here
      </div>
    </div>

  </ion-content>
</ion-view>
