<ion-view view-title='' hide-nav-bar="true">
    <ion-content>

      <div class="card">


        <div class="item item-body">

          <label class="item item-input">
            <span class="input-label">Account</span>
            <input type="password">
          </label>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>

          <button class="button button-block button-dark" ui-sref="main.home">
            Login
            <ion-nav-view name="tab-home"></ion-nav-view>
          </button>

        </div>
      </div>

    </ion-content>
</ion-view>

