<ion-view view-title='' hide-nav-bar="true">
  <ion-content>

    <!-- Row one :  -->
    <!-- <div></div> -->

    <!-- Row two -->
    <!-- <div></div> -->

    <!-- Row three :  -->
    <!-- <div></div> -->


    <div class="row">
      <div class="col col-50">

        <img src="main/assets/images/nicklasprofile.jpg" style="width: auto; height: 160px;">

      </div>
      <div class="col col-50">
        <H4 style="text-align: center">Highscore:</H4>
        <H5 style="text-align: center"> 1500 </H5>
        <img src="main/assets/images/trophy2.png" style="width: auto; height: 90px; margin-left: auto; margin-right: auto;
        display: block; ">
      </div>
    </div>


    <div class="row" style="height: 100%;">

      <div class="testBorder" style="display: block; float:left !important;">

        <div style="border-right: 1px; border-style: solid; border-color: black; float:left !important;">
          <p style="float:left;" class="testBorder">
            Name<br>
            Work<br>
            Phone<br>
            Email<br>
            Other<br>
          </p>
        </div>

        <div class="col" style="float:left !important;">
          <p style="float:left;" class="testBorder">
            Nicklas Holmsten <br>
            Miun<br>
            073-5043384<br>
            niho1300@we-consulting.se<br>
            Programmerare med glatt humör<br>
          </p>
        </div>

      </div>

    </div>

    <!-- <H3 style="text-align: center">Medaljer</H3> -->
    <div class="row">

      <div class="col col-25">
        <img src="main/assets/images/badget.png" style="max-width: 100%; height: auto;">
      </div>
      <div class="col col-25">
        <img src="main/assets/images/badges.png" style="max-width: 100%; height: auto;">
      </div>
      <div class="col col-25">
        <img src="main/assets/images/badgeg.png" style="max-width: 100%; height: auto;">
      </div>
      <div class="col col-25">
        <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;">
      </div>

    </div>

    <div class="row">
      <button class="button icon icon-left ion-folder button-assertive" style="width: 100%;">
        Mina filer
      </button>

    </div>

  </ion-content>
</ion-view>
