<ion-view view-title='' hide-nav-bar="true">
  <ion-content class="gradientGray">

    <!-- Row one :  -->
    <!-- <div></div> -->

    <!-- Row two -->
    <!-- <div></div> -->

    <!-- Row three :  -->
    <!-- <div></div> -->

    <!-- Portrait -->
    <div class="row testBorder">
      <div class="col col-33 testBorder"></div>
      <div class="col col-33 testBorder">

        <ion-item class="boxShadow"
                  style="padding:2px;">

          <!--  <div style="max-width:100%; max-height:100%;">-->

          <img src="main/assets/images/nicklasprofile.jpg"
               style="display: block; margin:auto; max-width:100%; max-height: 100%">
          <!-- </div> -->
        </ion-item>

      </div>
      <div class="col col-33 testBorder"></div>
    </div>

    <div class="row testBorder" style="height:2%;">
    </div>

    <!-- Info Card -->
    <div class="row testBorder">
      <div class="col col-100 testBorder" style="/*padding:1px;*/"> <!-- VIP EMERGENCY SOLUTION IN CASE OF THIN PHONE -->

        <ion-list>
          <ion-item class="item item-text-wrap boxShadow"
                    style="/*padding-left:0px; padding-right:0px;*/ padding:1px;">
            <div class="row testBorder" style="border-color:red; /*padding-left:1px; padding-right:1px*/
            padding:1px;">

              <div class="testBorder"
                   style="display: block; /*float:left !important;*/ /**/margin-left: auto;
                 right-border:3px; right-border:3px; margin-right: auto; width:375px;">

                <div class="testBorder"
                     style="width:20%; border-right: solid black; border-right-width: 1px; float:left !important;/**/">
                  <p>Name</p>
                  <p>Work</p>
                  <p>Phone</p>
                  <p>Email</p>
                  <p>Other</p>
                </div>

                <div class="testBorder"
                     style=" display: block; width:78%; float:right !important;/**/">
                  <p>Nicklas Holmsten</p>
                  <p>Miun</p>
                  <p>073-5043384</p>
                  <p>niho1300@we-consulting.se</p>
                  <p>Programmerare med glatt humör</p>
                </div>

              </div>

            </div>
          </ion-item>
        </ion-list>

      </div>
    </div>

    <div class="row testBorder" style="height:2%;">
    </div>

    <!-- Badges -->
    <div class="row testBorder">
      <div class="col col-100 testBorder">

        <!-- <div> -->

        <div class="boxShadow">

          <ion-list>

            <ion-item style="padding: 1px;">

              <div class="row testBorder">

                <div class="col col-25 testBorder bOne bAll">
                  <!-- <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;"> -->
                  <p class="bText">12</p>
                </div>
                <div class="col col-25 testBorder bTwo bAll">
                  <p class="bText">03</p>
                </div>
                <div class="col col-25 testBorder bThree bAll">
                  <p class="bText">24</p>
                </div>
                <div class="col col-25 testBorder bFour bAll">
                  <p class="bText">01</p>
                  <!-- <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;"> -->
                </div>

              </div>

            </ion-item>

            <ion-item class="item-icon-left">
              <b><p class="scoreText">15 025</p></b>
              <i class="icon ion-star icon-accessory" style="color:gold;"></i>
            </ion-item>

          </ion-list>


        </div>


        <!-- </div> -->

      </div>
    </div>

    <div class="row testBorder" style="height:2%;">
    </div>

    <!-- Button -->
    <div class="row testBorder">
      <div class="col col-100 testBorder">
        <button class="button icon icon-left ion-folder button-assertive"
                style="width: 100%; /*position:absolute; bottom:0;*/">
          Mina filer
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
