<ion-view view-title="Profile">
  <ion-content>


    <div class = "row">
      <div class = "col col-50">

        <img src="main/assets/images/nicklasprofile.jpg" style="width: auto; height: 160px;">

      </div>
      <div class = "col col-50">
        <H4 style="text-align: center">Highscore:</H4>
        <H5 style="text-align: center"> 1500 </H5>
        <img src="main/assets/images/trophy2.png" style="width: auto; height: 90px; margin-left: auto; margin-right: auto;
        display: block; ">
      </div>
      </div>
      <div class = "row">
        Namn: Nicklas Holmsten <br>
        Arbete: Miun<br>
        Tlfnr: 0735043384<br>
        Email: niho1300@we-consulting.se<br>
        Övrigt: Programmerare med glatt humör<br>
      </div>

      <div class = "row">
        <button class="button icon icon-left ion-folder button-assertive" style="width: 100%;">
          Mina filer
        </button>

      </div>


      <H3 style="text-align: center">Medaljer</H3>
      <div class = "row">

        <div class = "col col-25">
          <img src="main/assets/images/badget.png" style="max-width: 100%; height: auto;">
        </div>
        <div class = "col col-25">
          <img src="main/assets/images/badges.png" style="max-width: 100%; height: auto;">
        </div>
        <div class = "col col-25">
          <img src="main/assets/images/badgeg.png" style="max-width: 100%; height: auto;">
        </div>
        <div class = "col col-25">
          <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;">
        </div>


      </div>




      </div>


  </ion-content>
</ion-view>
