<ion-view view-title='' hide-nav-bar="true">
  <ion-content class="gradientGray">

    <!-- Row one :  -->
    <!-- <div></div> -->

    <!-- Row two -->
    <!-- <div></div> -->

    <!-- Row three :  -->
    <!-- <div></div> -->


    <div class="row testBorder">
      <div class="testBorder" style="display: block; width: 240px; height:145px; margin-left: auto; margin-right: auto;">

        <div class="testBorder"
             style="border-color:mediumvioletred; width:50%; /*50%*/ height:100%; /*100%*/ float:left !important;">
          <!-- frame to center image wrapped within -->
          <div class="testBorder" style="overflow:hidden; border-color:red; position: relative; width: 100%; height: 100%;"> <!-- -->
            <img src="main/assets/images/nicklasprofile.jpg" class="imgCenterSuper" style="/*object-fit: cover;*/ height:150%; width:auto;"> <!--  -->
          </div> <!-- -->
        </div>

        <div class="testBorder" style="border-color:red; display: block; width:50%; height:100%; float:right !important;">
          <!-- <H4 style="text-align: center">Highscore:</H4> --
          <!-- <div style="width:100%; height:5%;"> </div> -->
          <div class="testBorder bAll bgTrophy" style="height:80%;">
            <p class="trophyText">1st!</p>
            <!-- <img src="main/assets/images/trophyFlat.png" class="centerH" style="margin: auto; max-width: 75%; max-height: 75%;/**/"> -->
          </div>
          <div class="testBorder" style="height: 20%;">
            <p style="text-align: center; vertical-align: top; color:gold; font-size: 20px;"><b>1500</b></p>
          </div>
          <!-- -->
        </div>


      </div>
    </div>


    <div class="row testBorder">

      <div class="testBorder"
           style="display: block; width: 400px; float:left !important; margin-left: auto; margin-right: auto;">

        <div style="width:20%; border-right: solid black; border-right-width: 1px; float:left !important;/**/">
          <p>Name</p>
          <p>Work</p>
          <p>Phone</p>
          <p>Email</p>
          <p>Other</p>
        </div>

        <div style="display: block; width:75%; float:right !important;/**/">
          <p>Nicklas Holmsten </p>
          <p>Miun</p>
          <p>073-5043384</p>
          <p>niho1300@we-consulting.se</p>
          <p>Programmerare med glatt humör asda sdasd asdasd asda sd asdasd</p>
        </div>

      </div>

    </div>

    <!-- <H3 style="text-align: center">Medaljer</H3> -->
    <div class="row testBorder">

      <div class="col col-25 testBorder bOne bAll">
        <!-- <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;"> -->
        <p class="bText">99</p>
      </div>
      <div class="col col-25 testBorder bTwo bAll">
        <p class="bText">99</p>
      </div>
      <div class="col col-25 testBorder bThree bAll">
        <p class="bText">99</p>
      </div>
      <div class="col col-25 testBorder bFour bAll">
        <p class="bText">99</p>
        <!-- <img src="main/assets/images/badgep.png" style="max-width: 100%; height: auto;"> -->
      </div>

    </div>

    <div class="row testBorder"> <!-- -->
      <button class="button icon icon-left ion-folder button-assertive"
              style="width: 100%; /*position:absolute; bottom:0;*/">
        Mina filer
      </button>
    </div>  <!-- -->

  </ion-content>
</ion-view>
