<ion-tabs class="tabs-icon-top tabs-assertive white">

  <!-- style="border-style: solid; border-width: 5px; border-color: #00caf2;" -->

  <!-- List Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home"
    ui-sref="main.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person"
    ui-sref="main.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mail" icon-off="ion-ios-email-outline" icon-on="ion-ios-email"
           ui-sref="main.mail">
    <ion-nav-view name="tab-mail"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Community" icon-off="ion-ios-people-outline" icon-on="ion-ios-people"
           ui-sref="main.community">
    <ion-nav-view name="tab-community"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Conference" icon-off="ion-ios-mic-outline" icon-on="ion-ios-mic"
           ui-sref="main.conference">
    <ion-nav-view name="tab-conference"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tasks" icon-off="ion-ios-time-outline" icon-on="ion-ios-time"
           ui-sref="main.tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

</ion-tabs>
