<ion-view view-title='' hide-nav-bar="true">
  <ion-content class="gradientGray">

    <br>

    <!-- ui-sref="main.listDetail" -->

    <div class="row">

      <div class="col col-10"></div>

      <div class="col col-80">

        <div class="boxShadow">
          <ion-list>

            <ion-item class="item item-divider gradientYellow" style="text-color:black !important;"><p>Leaderboard</p></ion-item>

            <!--
            <ion-item class="item item-text-wrap">
              <p> <span style="color:gold"><b>12,123</b></span></p>
              <p> <span style="color:silver"><b>11,105</b></span></p>
              <p> <span style="color:brown"><b>9,000</b></span></p>
            </ion-item>
            -->
            <ion-item class="item item-text-wrap">
              <div class="row testBorder">

                <div class="testBorder"
                     style="display: block; /*float:left !important;*/ /**/margin-left: auto; margin-right: auto; width:250px;">

                  <div
                    style="width:40%; border-right: solid black; border-right-width: 1px; float:left !important;/**/">
                    <p>1. Amanda</p>
                    <p>2. Joe</p>
                    <p>3. Richard</p>
                  </div>

                  <div style="display: block; width:50%; float:right !important;/**/">
                    <b><p class="lightShadow" style="color: gold;">12,123 </p></b>
                    <b><p class="lightShadow" style="color: silver;">11,105</p></b>
                    <b><p class="lightShadow" style="color: #cd7f32;">9,000</p></b>
                  </div>

                </div>

              </div>
            </ion-item>
          </ion-list>
        </div>


        <br>

        <div class="boxShadow">
          <ion-list>

            <ion-item class="item item-divider item-positive gradientBlue" style="text-color:black !important;"><p>News</p></ion-item>

            <ion-item class="item-text-wrap">
              Site will be down due to maintenance from 1418 BC to 1419 AD. Thank you for your patience.
            </ion-item>

          </ion-list>
        </div>

        <br>

        <div class="boxShadow">
          <ion-list>

            <ion-item class="item item-divider gradientGreen" style="text-color:black !important;"><p>Blog</p></ion-item>

            <ion-item class="item-text-wrap">
             Super awesome mockups to super awesome app soon done. Also, check out these sweet selfies!
              <p><span style="color:blue;"><b>#YOLO #AllMaktÅtTengil</b></span></p>
            </ion-item>

          </ion-list>
        </div>

        <br><br><br>

        <button class="button button-block button-assertive" ui-sref="login">
          Log out
        </button>

      </div>

      <div class="col col-10"></div>

    </div>

  </ion-content>
</ion-view>
