<ion-view view-title='' hide-nav-bar="true">
  <ion-content class = "RadiantGrey">

    <!-- ui-sref="main.listDetail" -->
    <div class="list">


      <div>
        <h2><b>Leaderboard</h2></b>



        <p>(1) Amanda <span style="color:gold"><b>12,123</b></span></p>
        <p>(2) Joe <span style="color:silver"><b>11,105</b></span></p>
        <p>(3) Richard <span style="color:brown"><b>9,000</b></span></p>
      </div>




      <div>
       <h2><b>News</h2></b>



        Site will be down due to maintenance.
      </div>





      <div>
        <h2><b>Blog</h2></b>

        Mockups till super awesome we application bbbbbbbbbbbbbbbbbbbbbbbbbbörjar bli klar.






      </div>
    </div>


    <button class="button button-block button-assertive" ui-sref="login">
      Log out

    </button>

  </ion-content>
</ion-view>
